
{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
<center>
    Informed Consent Information
</center>
{% endblock %}

{% block styles %}
    <link href="{% static 'global/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="wrapper instructions">
<p>
<strong>Title of the Project</strong>: Introducing Wikipedia Editing <br>
<strong>Principal Investigator</strong>: Yan Chen, PhD, School of Information,
University of Michigan <br>
<strong>Co-investigator</strong>: David Miller, PhD, Department of Economics,
University of Michigan <br>
Other study team members include: <br>
Linfeng Li, School of Information, University of Michigan
</p>

<div class="scroll">
<h3>Invitation to be Part of a Research Study</h3>
<p>
    We invite you to be part of a research study about simple games and
    Wikipedia editing.
    <br>
    Taking part in this research project is voluntary.
</p>

<h3>Important Information about the Research Study</h3>
<p>
    Things you should know:
    <ul>
        <li> The purpose of the study is to understand how to introduce students
    to Wikipedia editing.  </li>
    <li> If you choose to participate, you will be asked to finish one
    computerized experiment and one Wikipedia editing activity. The
    computerized experiment will take 45 minutes and the Wikipedia editing
    activity should take no more than 1 hour.
    </li>
    <li> We do not foresee any risks or discomforts from this research
    </li>
    <li> As mentioned in the Syllabus, this study might improve your
    understanding of Econ 401 concepts. You will earn bonus points for your
    participation.
    </li>
    <li> Taking part in this research project is voluntary. You don't have to
    participate, and you can stop at any time.
    </li>
    </ul>
</p>
<p>
    Please take time to read this entire form before deciding whether to take
    part in this research project.
</p>

<h3>What is the study about and why are we doing it?</h3>
<p>
    The purpose of the study is to understand how to introduce students to
    Wikipedia editing. The Wikipedia articles selected for the study are
    related to the content of Econ 401. Therefore, the activity is
    complementary to the class.
</p>

<h3>What will happen if you take part in this study?</h3>
<p>
    If you agree to take part in this study, you will be asked to first
    complete a computerized experiment and then finish a Wikipedia editing
    activity. Both tasks are accessible from a computer with a browser, and
    available 24/7. You can decide when and where to participate in these
    tasks. You will receive bonus points for Econ 401 based on your performance
    in our study.
</p>
<p>
    The computerized experiment consists of a series of simple games and a
    survey. This experiment will take approximately 45 minutes and will start
    right afer you click on the "Next" button at the bottom of this page.
    You will be able to participate in only one experimental session. 
</p>
<p>
    The Wikipedia editing activity will be announced through an email, shortly
    after your completion of the computerized experiment. The email contains
    links to Wikipedia articles selected for this study. Editing the assigned
    Wikipedia articles will enable you to earn bonus points for Econ 401. The
    amount of bonus points depends on the quality of your edit. You will need
    to register for a Wikipedia account so we can verify your editing
    activities.
</p>
<p>
    For this study, we will not link your data to external data, except for
    what we will collect from the two activities. The identifiable information
    will include: first and last name from the computerized experiment, email
    account for the computerized experiment and your Wikipedia username.
</p>

<h3>How could you benefit from this study?</h3>
<p>
    Although you will not directly benefit from being in this study, others
    might benefit because you will help us understand how to introduce students
    to Wikipedia editing. As the content of Wikipedia is publicly available,
    your edits contribute to the improvement of Wikipedia articles. As such,
    they also contribute to human knowledge in the public domain.
</p>

<h3>What risks might result from being in this study?</h3>
<p>
    The experiment does not involve physical discomfort. The study poses no
    more than minimal risk. There is a possible risk of "breach of
    confidentiality" and the PIs shall mitigate such risks by ensuring the
    security standard of data storage formats, careful management of access to
    the data, and de&#173;identification of data before any data re&#173;use
    and redistribution.
</p>


<h3>How will we protect your information?</h3>
<p>
    We plan to publish the results of this study. To protect your privacy, we
    will not include any information that could directly identify you.
</p>
<p>
    We will protect the confidentiality of your research records by removing
    your personal identifiable information right after we received the complete
    responses from you. Your name and any other information that can directly
    identify you will be stored separately from the data collected as part of
    the project<strong>. </strong>Yet, by the nature of how Wikipedia is
    maintained, your Wikipedia username and your edits to the Wikipedia article
    will remain publicly available.
</p>


<p>
    It is possible that other people may need to see the information we collect
    about you. These people work for the University of Michigan, and government
    offices that are responsible for making sure the research is done safely
    and properly.
</p>
<h3>
    What will happen to the information we collect about you after the
    study is over?
</h3>

<p>
    We will keep your research data to use for future research. Your name and
    other information that can directly identify you will be kept secure and
    stored separately from the research data collected as part of the project.
</p>
<p>
    We may share your research data with other investigators without asking for
    your consent again, but it will not contain information that could directly
    identify you.
    If data will be deposited in a public or other repository, we will remove
    all personal identifiers, including your name and the Wikipedia username.
</p>
<h3>
    How will we compensate you for being part of the study?
</h3>
<p>
    You will earn extra credits from both activities in this study. In the
    computerized experiment, you will earn experiment tokens by playing several
    simple games and filling out one short survey. 
    The conversion rate of experiment tokens to bonus points will be announced
    in the lecture. 
    From the Wikipedia Editing task, you will also earn bonus points based on
    the quality of your edits.
</p>

<h3>Your Participation in this Study is Voluntary </h3>
<p>
    It is totally up to you to decide to whether to participate in this
    research study. Participating in this study is voluntary. Even if you
    decide to be part of the study now, you may change your mind and stop at
    any time. You do not have to answer any questions you do not want to
    answer. If you decide to withdraw before this study is completed, we will
    keep a copy of your data. The study team will not terminate your
    participation.
</p>

<h3>
    Contact Information for the Study Team and Questions about the
    Research
</h3>

<p>
    If you have questions about this research, including questions about
    scheduling or your compensation for participating, you may contact Yan
    Chen, Ph.D., School of Information, the University of Michigan.
    <strong>(734)764-9488</strong>, or <strong><a
    href="mailto:yanchen@umich.edu">yanchen@umich.edu</a></strong>.
</p>

<h3>
    Contact Information for Questions about Your Rights <br> as a Research
    Participant
</h3>
<p>
    If you have questions about your rights as a research participant, or wish
    to obtain information, ask questions, or discuss any concerns about this
    study with someone other than the researcher(s), please contact the
    following:
</p>
<p>
    University of Michigan
    <br>
    Health Sciences and Behavioral Sciences Institutional Review Board
    <br>
    2800 Plymouth Road
    <br>
    Building 520, Room 1169
    <br>
    Ann Arbor, MI 48109-2800
    <br>
    Phone: (734) 936-0933 or toll free, (866) 936-0933
    <br>
    Email: <a href="mailto:irbhsbs@umich.edu">irbhsbs@umich.edu</a>
</p>
</div>


<h3>Your Consent</h3>
<p>
    By checking the box below, you are agreeing to participate in the study. We
    will keep an electronic copy of this document with the study records. A
    copy of the document will be emailed to you. Please save it for your
    record. Be sure that you understand what you are being asked to do. You may
    contact the researchers if you think of a question later.
</p>

    <p class='red'>
    {{form.consent}}
    <em>I agree to participate in the study.</em>
    </p>
    





<style>
    .otree-body {
        max-width:800px
    }
    p {
        padding-left:10px;
    }
    h3 {
        background: lightgray;
        font-size: 1.25rem;
        text-align: center;
        font-weight: bold;
    }
    
    .red {
        color: red;
    }
<!-- Make the lengthy consent document shorter - not as registered with IRB. -->
    <!-- div.scroll { -->
    <!--     width: 800px; -->
    <!--     height: 800px; -->
    <!--     overflow-x: hidden; -->
    <!--     overflow-y: auto; -->
    <!--     boarder-style: dashed: --> 
    <!-- } -->
</style>
    </div>

{% endblock %}
