{% load otree %}

{# *** STYLES *** #}
{% block styles %}
    <link href="{% static 'global/custom.css' %}" rel="stylesheet"/>
{% endblock %}



<div class="wrapper instructions">

    <h3>
        Instruction for the investment game
    </h3>
    <p>
    In this game, you will be paired with another participant like you.  
    One of you will be selected at random to be Participant A; the other will
    be Participant B. 
    You will learn whether you are Participant A or B prior to making any
    decision.
    </p>
    <p>
        To start, both Participant A and Participant B receive 
        {{ Constants.endowment }} tokens; Participant A can send some or all of
        his {{ Constants.endowment }} tokens to Participant B.  Before B
        receives this amount, it will be multiplied by 
        {{ Constants.multiplier }}. 
        Once B receives the tripled amount he can decide to send some or
        all of his tokens back to A.
    </p>
    <p>
        Each token in this game worths 20 points in this experiment.
    </p>
</div>